{{#*inline "content"}}
{{> navigation}}
{{#if years}}
<script src="/static/table.js"></script>
<div id="form-box" class="form">
    <div>
        <label for="year-select">Year </label>
        <select id="year-select" data-js-selected="{{year}}">
            {{#each years}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </div>
    <div>
        <label for="month-select">Month </label>
        <select id="month-select" data-js-selected="{{month}}">
            {{#each months}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </div>
</div>
<div id="table-div">
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Weight</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each weights}}
            <tr>
                <td>{{measured_at}}</td>
                <td>{{kilograms}}</td>
                <td>
                    <input type="button" value="Delete" data-js-delete-weight="{{weight_id}}" />
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{else}}
<div>
    <h1 class="title">There are no weights</h1>
</div>
{{/if}}
{{/inline}}
{{> base}}
